body {
  margin: 0;
  font-family: "Source sans pro";
}
a {
  text-decoration: none;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263343;
  padding: 8px 12px;
}
.navbar___logo {
  font-size: 24px;
  color: white;
}
.navbar___logo i {
  color: #d49466;
}
.navbar___menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
}
.navbar___menu li {
  padding: 8px 12px;
}
.navbar___menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}
.navbar___icons {
  color: white;
  list-style: none;
  display: flex;
  justify-content: row;
  padding-left: 0;
}
.navbar___icons li {
  padding: 8px 12px;
}
.navbar___toggleBtn {
  display: none;
  position: absolute;
  right: 27px;
  top: 15px;
  color: #d49466;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 25px;
  }

  .navbar___menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar___menu li {
    width: 100%;
    text-align: center;
  }
  .navbar___icons {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar___toggleBtn {
    display: block;
  }
  .navbar___menu.active,
  .navbar___icons.active {
    display: flex;
  }
}
